extends layout.pug

block vars
    -var github = 'https://github.com/loatheb';

block contents
    p Created by zhao.zhang
    p
        | You can find me at
        a(href= github)
            = github
